<div class="deleteDijalog">
    <h1>Brisananje fakture</h1>
           <div>
            <p>Da li zelite da potvrdite brisanje fakture sa rednim brojem {{IdFakture}} ?</p>
            <div mat-dialog-actions class="btn">
              <button mat-button (click)="Potvrda()" style="font-size: 30px;
              margin-right: 35px;">Yes</button>       
              <button mat-button mat-dialog-close style="margin-left:5px;font-size: 30px;">No</button> 
            </div>  
    </div>      
      
      
    