<div class="fak">
<div class="naslov">
    <h1>Pregled faktura:</h1>
    <button (click)="Logout()" class="btnOdjava">Odjavljivanje</button>   
</div>
<div>
<button (click)="openDialog()" class="btnCreate">Kreiranje nove fakture</button> 
</div>
<table>
    <thead>
        <th>Broj fakture</th>
        <th>Datum</th>
        <th>Partner</th>
        <th>Posto rabata</th>
        <th>Pregled</th>
        <th>Brisanje</th>
    </thead>
    <tbody>
        <tr *ngFor="let faktura of fakture">
            <td >{{faktura?.brojFakture}}</td>
            <td>{{faktura?.datum}}</td>
            <td>{{faktura?.partner}}</td>
            <td>{{faktura?.postoRabata}}</td>
            <td><button (click)="PregledFakture(faktura?.fakturaId)" class="btnPregled">Pregled</button></td> 
            <td><button (click)="deleteFaktura(faktura?.fakturaId)" class="btnBrisanje">Brisanje</button></td>
            </tr>
    </tbody>
</table>
</div>